# Use --index-url=https://bytedpypi.byted.org/simple/
# Use --proxy=http://bj-rd-proxy.byted.org:3128
# See https://python.byted.org/pip-setup.html
# yacs==0.1.8
# opencv-python # 需要锚定一个版本
# Pillow
# tfrecord
# numpy
# absl-py
# prefetch_generator # 需要cleanup
# bytedabase # 需要锚定一个版本
# prettytable
# transformers # 需要锚定一个版本
# colorlog
# einops
# torch #  # 需要锚定一个版本
# huggingface-hub>=0.10.0
# byted-cruise==0.3.4
# byted-wandb -i https://bytedpypi.byted.org/simple
# sentencepiece==0.1.97
# protobuf==3.17.3


byted-dataloader==0.3.1
jsonargparse[signatures]==4.14 
fsspec 
dill 
tqdm 
pyyaml==5.4.1
protobuf==3.20 
tensorflow-cpu==2.8 
tensorboard==2.8 
py-spy 
tensorflow-io==0.25.0
pyarrow==4.0.1 
pandas==1.3.5 
timm==0.6.7 
transformers==4.21.0
deepspeed==0.7.3 
bytedtcc==1.4.2
sentencepiece==0.1.97 
opencv-python
yacs==0.1.8
absl-py 
bytedabase 
prettytable 
huggingface-hub>=0.10.0
http://luban-source.byted.org/repository/scm/data.aml.titan_1.0.0.100.tar.gz
byted-cruise==0.3.4