# Use --index-url=https://bytedpypi.byted.org/simple/
# Use --proxy=http://bj-rd-proxy.byted.org:3128
# See https://python.byted.org/pip-setup.html
yacs==0.1.8
tensorboard==2.4.0
opencv-python # 需要锚定一个版本
Pillow
tfrecord
numpy
absl-py
prefetch_generator # 需要cleanup
bytedabase # 需要锚定一个版本
prettytable
transformers # 需要锚定一个版本
colorlog
einops
torch #  # 需要锚定一个版本
huggingface-hub>=0.10.0
byted-cruise==0.3.4
