# Use --index-url=https://bytedpypi.byted.org/simple/
# See https://python.byted.org/pip-setup.html

protobuf==3.17.3
byted-dataloader==0.3.1
bytedtitan==0.0.4
byted-wandb -i https://bytedpypi.byted.org/simple
sentencepiece==0.1.97
pre-commit==2.21.0