# Use --index-url=https://bytedpypi.byted.org/simple/
# Use --proxy=http://bj-rd-proxy.byted.org:3128
# See https://python.byted.org/pip-setup.html
yacs==0.1.8
tensorboard==2.4.0
opencv-python
Pillow
tfrecord
numpy
absl-py
prefetch_generator # 这个库很简单，之后看直接趴下来
bytedabase
prettytable
transformers
colorlog
einops
